<a href="https://colab.research.google.com/github/hamzaMakhmud/DSP1/blob/main/Recom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1- Kerakli kutubxonalarni chaqirib olish.

In [ ]:
import pandas as pd
import numpy as np

from scipy.sparse import csr_matrix

from sklearn.neighbors import NearestNeighbors

In [ ]:
movie = pd.read_csv("movies.csv")

In [ ]:
rating = pd.read_csv("ratings.csv")

In [ ]:
movie.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
movie.drop(['genres'], axis = 1, inplace = True)
movie.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
rating.drop(['timestamp'], axis = 1, inplace = True)
rating.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [ ]:
user_item_matrix = rating.pivot(index = 'movieId', columns = 'userId', values= 'rating')
user_item_matrix.head()

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        4.0  NaN  NaN  NaN  4.0  NaN  4.5  ...  3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        NaN  NaN  NaN  NaN  NaN  4.0  NaN  ...  5.0  3.5  NaN  NaN  2.0  NaN  NaN
3        4.0  NaN  NaN  NaN  NaN  5.0  NaN  ...  NaN  NaN  NaN  NaN  2.0  NaN  NaN
4        NaN  NaN  NaN  NaN  NaN  3.0  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5        NaN  NaN  NaN  NaN  NaN  5.0  NaN  ...  3.0  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 610 columns]

In [ ]:
user_item_matrix.fillna(0, inplace= True)
user_item_matrix.head()

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        4.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        0.0  0.0  0.0  0.0  0.0  4.0  0.0  ...  5.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 610 columns]

In [ ]:
user_item_matrix.shape

(9724, 610)

In [ ]:
users_votes = rating.groupby('userId')['rating'].agg('count')

movie_votes = rating.groupby('movieId')['rating'].agg('count')

In [ ]:
user_mask = users_votes[users_votes > 50].index
movie_mask = movie_votes[movie_votes > 10].index

In [ ]:
user_item_matrix = user_item_matrix.loc[movie_mask,:]

user_item_matrix = user_item_matrix.loc[:,user_mask]

In [ ]:
user_item_matrix.shape

(2121, 378)

In [ ]:
csr_data = csr_matrix(user_item_matrix.values)

print(csr_data[:2, :5])

  (0, 0)	4.0
  (0, 3)	4.5
  (1, 2)	4.0

In [ ]:
user_item_matrix = user_item_matrix.rename_axis(None, axis = 1).reset_index()
user_item_matrix.head()

   movieId    1    4    6    7   10   11  ...  603  604  605  606  607  608  610
0        1  4.0  0.0  0.0  4.5  0.0  0.0  ...  4.0  3.0  4.0  2.5  4.0  2.5  5.0
1        2  0.0  0.0  4.0  0.0  0.0  0.0  ...  0.0  5.0  3.5  0.0  0.0  2.0  0.0
2        3  4.0  0.0  5.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  2.0  0.0
3        5  0.0  0.0  5.0  0.0  0.0  0.0  ...  0.0  3.0  0.0  0.0  0.0  0.0  0.0
4        6  4.0  0.0  4.0  0.0  0.0  5.0  ...  4.0  3.0  0.0  0.0  0.0  0.0  5.0

[5 rows x 379 columns]

In [ ]:
knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute', n_neighbors = 20, n_jobs = -1)

knn.fit(csr_data)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [ ]:
recommendations = 5

search_word = 'Jumanji'

In [ ]:
movie_search = movie[movie['title'].str.contains(search_word)]
movie_search

      movieId                                  title
1           2                         Jumanji (1995)
9636   179401  Jumanji: Welcome to the Jungle (2017)

In [ ]:
movie_id = movie_search.iloc[0]['movieId']

movie_id = user_item_matrix[user_item_matrix['movieId'] == movie_id].index[0]
movie_id

1

In [ ]:
distances, indices = knn.kneighbors(csr_data[movie_id], n_neighbors = recommendations + 1)

In [ ]:
indices

array([[  1, 173, 175, 227, 217, 262]])

In [ ]:
distances

array([[0.        , 0.37701322, 0.41374278, 0.41616445, 0.42056321,
        0.42542803]])

In [ ]:
indices_list = indices.squeeze().tolist()
distances_list = distances.squeeze().tolist()

indices_distances = list(zip(indices_list, distances_list))


print(type(indices_distances[0]))

print(indices_distances[:3])

<class 'tuple'>
[(1, 0.0), (173, 0.3770132181136182), (175, 0.4137427842741309)]

In [ ]:
indices_distances_sorted = sorted(indices_distances, key = lambda x: x[1], reverse = True)

indices_distances_sorted = indices_distances_sorted[:-1]
indices_distances_sorted

[(262, 0.4254280334192815),
 (217, 0.4205632052050985),
 (227, 0.41616445019173887),
 (175, 0.4137427842741309),
 (173, 0.3770132181136182)]

In [ ]:
filtr = []

for ind_dist in indices_distances_sorted:

  matrix_movie_id = user_item_matrix.iloc[ind_dist[0]]['movieId']

  id = movie[movie['movieId'] == matrix_movie_id].index

  title = movie.iloc[id]['title'].values[0]
  dist = ind_dist[1]

  filtr.append({ 'Nomi' : title, 'Masofa' : dist})

In [ ]:
filtr[0]

{'Masofa': 0.4254280334192815, 'Nomi': 'Aladdin (1992)'}

In [ ]:
recom_df = pd.DataFrame(filtr, index = range(1, recommendations +1))
recom_df

                    Nomi    Masofa
1         Aladdin (1992)  0.425428
2   Jurassic Park (1993)  0.420563
3  Mrs. Doubtfire (1993)  0.416164
4       Mask, The (1994)  0.413743
5  Lion King, The (1994)  0.377013